<p-card header="HTML Screen ">
    <div class="card">
        <div class="grid p-fluid">
            <div class="grid p-fluid">
                <div class="field col-12 md:col-3">
                    <label for="integeronly">First Name</label>
                    <input type="text" pInputText placeholder="First Name">
                </div>
                <div class="field col-12 md:col-3">
                    <label for="withoutgrouping">Middle Name</label>
                    <input type="text" pInputText placeholder="Middle Name">
                </div>
                <div class="field col-12 md:col-3">
                    <label for="minmaxfraction">Last Name</label>
                    <input type="text" pInputText placeholder="Last Name">
                </div>
                <div class="field col-12 md:col-3">
                    <label for="minmax">Emp ID </label>
                    <input type="text" pInputText placeholder="Emp ID">
                </div>
                <div class="field col-12 md:col-3">
                    <label for="locale-user">Gender</label>
                    <input type="number" pInputText placeholder="Gender">
                </div>
                <div class="field col-12 md:col-3">
                    <label for="locale-us">Status</label>
                    <input type="number" pInputText placeholder="Status">
                </div>
                <div class="field col-12 md:col-3">
                    <label for="locale-us">Originzation</label>
                    <input type="text" pInputText placeholder="First Name">
                </div>
                <div class="field col-12 md:col-3">
                    <label for="locale-us">Department</label>
                    <input type="number" pInputText placeholder="Department">
                </div>
                <div class="field col-12 md:col-3">
                    <label for="locale-us">Swift Timings</label>
                    <input type="number" pInputText placeholder="Swift Timings">
                </div>
                <div class="field col-12 md:col-3">
                    <label for="locale-us">Date of Joining</label>
                    <input type="number" pInputText placeholder="Date of Joining">
                </div>
                <div class="field col-12 md:col-3">
                    <label for="locale-us">Work Phone</label>
                    <input type="number" pInputText placeholder="Work Phone">
                </div>
                <div class="field col-12 md:col-3">
                    <label for="locale-us">Personal Phone</label>
                    <input type="number" pInputText placeholder="Personal Phone">
                </div>
                <div class="field col-12 md:col-3">
                    <label for="locale-us">Work Phone</label>
                    <input type="number" pInputText placeholder="Work Phone">
                </div>
                <div class="field col-12 md:col-3">
                    <label for="locale-us">Cooperate Mail</label>
                    <input type="mail" pInputText placeholder="Cooperate Mail">
                </div>
                <div class="field col-12 md:col-3">
                    <label for="locale-us">Personal Mail</label>
                    <input type="mail" pInputText placeholder="Personal Mail">
                </div>
                <div class="field col-12 md:col-3">
                    <label for="locale-us">Skills</label>
                    <input type="text" pInputText placeholder="Skills">
                </div>
                <div class="field col-12 md:col-3">
                    <label for="locale-us">Address</label>
                    <input type="text" pInputText placeholder="Address">
                </div>
                <div class="field col-12 md:col-3">
                    <label for="locale-us">Country</label>
                    <input type="text" pInputText placeholder="Country">
                </div>
                <div class="field col-12 md:col-3">
                    <label for="locale-us">State</label>
                    <input type="text" pInputText placeholder="State">
                </div>
                <div class="field col-12 md:col-3">
                    <label for="locale-us">City</label>
                    <input type="text" pInputText placeholder="City">
                </div>
                <div class="field col-12 md:col-3">
                    <label for="locale-us">Zip Code</label>
                    <input type="number" pInputText placeholder="Zip Code">
                </div>
            </div>
        </div>
    </div>
</p-card>